.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;

  & .videoWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & .videoAspect {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      object-position: center;
      & .videoPlayer {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: center;

        display: flex;
        justify-content: center;
        align-items: center;

        & video {
          aspect-ratio: 16/9;
          height: 100vh;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
    height: 100vw / 16 * 9;
    overflow: visible;

    & .videoWrapper {
      width: 100vw;
      height: 100vw / 16 * 9;
      display: flex;
      justify-content: center;
      align-items: center;

      & .videoAspect {
        width: 100vw;
        height: 100vw / 16 * 9;
        object-fit: cover;
        object-position: center;
        & .videoPlayer {
          width: 100vw;
          height: 100vw / 16 * 9;
          object-fit: cover;
          object-position: center;
  
          display: flex;
          justify-content: center;
          align-items: center;
  
          & video {
            width: 100vw;
            height: 100vw / 16 * 9;
          }
        }
      }
    }
  }
}