@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

.menuCon {
  /* height: auto; */
  position: absolute;
  top: 70px;
  right: 30px;
  height: 0px;
  width: 300px;
  max-height: 70vh;
  background: rgba(0, 0, 0, 0.5);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.4px);
-webkit-backdrop-filter: blur(8.4px);
  border-radius: 12px;
  transition-duration: 200ms;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px 0;
}


.menuHeading,
.menuItem {
  width: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  padding: 12px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
  margin: 2px 0;
}

.menuItemToggle {
  display: flex;
  justify-content: space-between;
}

.menuHeading {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  z-index: 1;
}

.menuItem {
  text-align: left;
  transition: 0.3s all ease;
}

.menuItem:hover {
  text-align: left;
  background: rgba(54, 54, 54, 0.7);
}

.menuItem.selected {
  background-color: #F47521;
  color: white;
}

.menuItemValue {
  display: inline-block;
  color: #999999;
  font-size: 12px;
  font-weight: 700;
  vertical-align: middle;
  margin-left: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: right;
  width: 100px;
  /* margin-left: 10px; */
}

.menuItemIcon {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
}

.menuItemIconBack,
.menuItemIconSub {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ffffff'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z'/%3E%3C/svg%3E");
  height: 20px;
  width: 20px;
}

.menuItemIconSub {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ffffff'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'/%3E%3C/svg%3E");
  height: 30px;
  margin-right: 0;
  width: 30px;
}

.menuItemText {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

#qualIcon {
  background-image: url('data:image/svg+xml,<svg width="28px" height="20px" viewBox="0 0 32 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 3.5C0 1.56953 1.59444 0 3.55556 0H28.4444C30.4056 0 32 1.56953 32 3.5V21C32 22.9305 30.4056 24.5 28.4444 24.5H3.55556C1.59444 24.5 0 22.9305 0 21V3.5ZM16.8889 8.3125V16.1875C16.8889 16.9148 17.4833 17.5 18.2222 17.5H21.3333C24.2778 17.5 26.6667 15.1484 26.6667 12.25C26.6667 9.35156 24.2778 7 21.3333 7H18.2222C17.4833 7 16.8889 7.58516 16.8889 8.3125ZM21.3333 9.625C22.8056 9.625 24 10.8008 24 12.25C24 13.6992 22.8056 14.875 21.3333 14.875H19.5556V9.625H21.3333ZM8.88889 8.3125C8.88889 7.58516 8.29444 7 7.55556 7C6.81667 7 6.22222 7.58516 6.22222 8.3125V12.25V16.1875C6.22222 16.9148 6.81667 17.5 7.55556 17.5C8.29444 17.5 8.88889 16.9148 8.88889 16.1875V13.5625H12.4444V16.1875C12.4444 16.9148 13.0389 17.5 13.7778 17.5C14.5167 17.5 15.1111 16.9148 15.1111 16.1875V12.25V8.3125C15.1111 7.58516 14.5167 7 13.7778 7C13.0389 7 12.4444 7.58516 12.4444 8.3125V10.9375H8.88889V8.3125Z" fill="white"/></svg>');
}

#sourceIcon {
  background-image: url('data:image/svg+xml,<svg width="24px" height="18px" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 24H24.5C26.4305 24 28 22.4625 28 20.5714V6.85714C28 4.96607 26.4305 3.42857 24.5 3.42857H16.3242C15.3945 3.42857 14.5031 3.06964 13.8469 2.42679L12.3977 1.00179C11.7414 0.358929 10.85 0 9.92031 0H3.5C1.56953 0 0 1.5375 0 3.42857V20.5714C0 22.4625 1.56953 24 3.5 24Z" fill="white"/></svg>');
}

#fillIcon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 12h-2v3h-3v2h5v-5zM7 9h3V7H5v5h2V9zm14-6H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16.01H3V4.99h18v14.02z'/%3E%3C/svg%3E");
}

#configIcon {
  background-image: url('data:image/svg+xml,<svg width="14px" height="14px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 20C0 19.115 0.670312 18.4 1.5 18.4H4.06406C4.64062 16.985 5.9625 16 7.5 16C9.0375 16 10.3594 16.985 10.9359 18.4H22.5C23.3297 18.4 24 19.115 24 20C24 20.885 23.3297 21.6 22.5 21.6H10.9359C10.3594 23.015 9.0375 24 7.5 24C5.9625 24 4.64062 23.015 4.06406 21.6H1.5C0.670312 21.6 0 20.885 0 20ZM9 20C9 19.115 8.32969 18.4 7.5 18.4C6.67031 18.4 6 19.115 6 20C6 20.885 6.67031 21.6 7.5 21.6C8.32969 21.6 9 20.885 9 20ZM18 12C18 11.115 17.3297 10.4 16.5 10.4C15.6703 10.4 15 11.115 15 12C15 12.885 15.6703 13.6 16.5 13.6C17.3297 13.6 18 12.885 18 12ZM16.5 8C18.0375 8 19.3594 8.985 19.9359 10.4H22.5C23.3297 10.4 24 11.115 24 12C24 12.885 23.3297 13.6 22.5 13.6H19.9359C19.3594 15.015 18.0375 16 16.5 16C14.9625 16 13.6406 15.015 13.0641 13.6H1.5C0.670312 13.6 0 12.885 0 12C0 11.115 0.670312 10.4 1.5 10.4H13.0641C13.6406 8.985 14.9625 8 16.5 8ZM9 2.4C8.17031 2.4 7.5 3.115 7.5 4C7.5 4.885 8.17031 5.6 9 5.6C9.82969 5.6 10.5 4.885 10.5 4C10.5 3.115 9.82969 2.4 9 2.4ZM12.4359 2.4H22.5C23.3297 2.4 24 3.115 24 4C24 4.885 23.3297 5.6 22.5 5.6H12.4359C11.8594 7.015 10.5375 8 9 8C7.4625 8 6.14062 7.015 5.56406 5.6H1.5C0.670312 5.6 0 4.885 0 4C0 3.115 0.670312 2.4 1.5 2.4H5.56406C6.14062 0.985 7.4625 0 9 0C10.5375 0 11.8594 0.985 12.4359 2.4Z" fill="white"/></svg>');
}


.scene {
  position: absolute;
  transition-duration: 0.2s;
  width: 100%;
  top: 0;
  padding: 12px 0;
}

.textBox {
  appearance: none;
  border: 0;
  height: 40px;
  border-radius: 10px;
  width: 120px;
  margin: 10px;
  padding: 10px;
  outline: none;
  margin-bottom: 0px;
}

.toggle {
  display: inline-block;
  position: relative;
  height: 25px;
  min-width: 45px;
  cursor: pointer;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  transition-duration: 200ms;
}

.toggle.active {
  background-color: #2196f3;
}
.toggle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #1a1a1a;
  border: 5px solid #fff;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.toggle.active::before {
  left: calc(100% - 25px);
  background-color: #fff;
  border-color: #2196f3;
}

.sceneCon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: none;
  opacity: 0;
  left: 100%;
  transition-duration: 200ms;
}

.sceneCon.active {
  pointer-events: all;
  opacity: 1;
  left: 0px;
}