.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;

  & .videoWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
    height: 100vw / 16 * 9;

    & .videoWrapper {
      width: 100vw;
      height: 100vw / 16 * 9;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}